html {
  height: 100%;
  font-family: system-ui;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0 1rem;
}

div#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin: 0 2rem 2rem 2rem;
}

h1#title {
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem 3rem;
  width: 600px;
  margin-bottom: 3rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.memo {
  font-size: 1.5rem;
  height: 1rem;
}

.error {
  font-size: 0.8rem;
  color: red;
}

.row {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.edge {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
  border: black solid 1px;
}

.edge:hover {
  cursor: pointer;
}

.white {
  background-color: white;
}

.blue {
  background-color: #3944bc;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.red {
  background-color: #d10000;
}

.yellow {
  background-color: #fff200;
}